<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>

<!--Пример формы-->
<!--атрибут  action  задает адрес отправки формы-->
<!--пустая action задает адрес самого себя-->
<!--Форма автоматически собирает GET параметр и отправляет его нам на сервер-->
<form action="" method="post">
    <span> Логин: </span>
    <input type="text" placeholder="login" name="login">

    <span> Пароль: </span>
    <input type="password" placeholder="Password" name="password">

    <input type="submit" value="Отправить">
</form>

</body>
</html>