<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask course</title>
</head>
<body>
    <h1>i am text from h1</h1>
    <h4>i am text from h4</h4>

    <p>some text from paragraph</p>

    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ul>

    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ol>

    <div>
        <a href="http://yandex.ru" target="_blank">go to yandex</a>
    </div>

    <div>
        <img src="https://s8.travelask.ru/system/images/files/000/042/524/wysiwyg_jpg/frog-photography-27__880.jpg?1486386835"
             width="250px" height="200px">
    </div>

    <form action="">
        <input type="text" name="text-input" placeholder="input some text">
        <input type="password" name="text-password" placeholder="input password">
        <input type="submit" value="send">
    </form>

</body>
</html>